#headSpace{
    width: auto;
    height: 30px;
}
#headTitle{
    margin: 0 auto;
    max-width: auto;
    text-align: center;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    letter-spacing: 20px;
    font-weight: bold;
}
#subTitle{
    margin: 0 auto;
    max-width: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: dimgrey;
}
#arabicTitle{
    margin: 0 auto;
    max-width: auto;
    text-align: center;
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 20px;
}

.normalText{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.twoRow {
    display: flex;
}

.column {
    flex: 50%;
    padding: 3%;
}
.image{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}