.twocolumns {
    padding:10px;
     width:90%;
     -moz-column-count: 2;
     -moz-column-gap: 30px;
     -webkit-column-count: 2;
     -webkit-column-gap: 30px;
     column-count: 2;
     column-gap: 30px;
   }

#header {
    background-image: url("IbnArBanner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
} 
#jumbo {
    background-image: url("WoIIbnArPersonOnlyBG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    
} 


#headSpace{
    width: auto;
    height: 30px;
}
#headTitle{
    margin: 0 auto;
    max-width: auto;
    text-align: left;
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 2px 2px silver;
    color: black;
}
#subTitle{
    margin: 0 auto;
    max-width: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: dimgrey;
}
#arabicTitle{
    margin: 0 auto;
    max-width: auto;
    text-align: center;
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 20px;
}

.normalText{
    text-align: justify;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 10px;
}
.justifiedCentered{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.leftAligned{
    text-align: left;
}

.container{
     text-align: center;
}

.left-div{
     display: inline-block;
     max-width: 400px;
     vertical-align: top;
     padding: 2%;
}

.right-div{
     display: inline-block;
     max-width: 400px;
     padding: 2%;
}

@media screen and (max-width: 800px) 
{
     .left-div, .right-div
     {
          max-width: 100%;
     }
}

.collapsible {
  background-color: #777;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
  color: white;
  cursor: pointer;
  padding: 18px;
  max-width: 600px;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 10px;
}

.active, .collapsible:hover {
  background-color: #555;
}
.contains{
  align-content: right;
  max-width: 200px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}